@import 'tailwindcss';
@import './artisanpack-ui-theme.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

/** daisyUI */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

/* Livewire UI Components */
@source "../../vendor/artisanpack-ui/livewire-ui-components/resources/views/**/*.php";
@source "../../vendor/artisanpack-ui/livewire-ui-components/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.artisanpack-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100
}

.artisanpack-table-pagination button {
    @apply cursor-pointer
}
